# ==========================================
# Caches e Arquivos Temporários do Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Ambientes Virtuais (Virtual Envs)
# ==========================================
.venv/
venv/
ENV/
env/

# ==========================================
# Segurança e Configurações locais (CRÍTICO)
# ==========================================
# Ignora as senhas e credenciais locais do projeto
.env

# ==========================================
# Docker e Banco de Dados (PostgreSQL)
# ==========================================
# Ignora diretórios locais de dados caso os volumes do Docker fiquem na raiz
.docker-data/
postgres_data/

# ==========================================
# Arquivos de Sistema e Logs
# ==========================================
.DS_Store
Thumbs.db
*.log

# ==========================================
# Ferramentas de Desenvolvimento e IDEs
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp